node_modules
.idea
.turbo
.vercel
test
build
dev

*.js
*.cjs
*.d.ts
*.map
*.tsbuildinfo
*.html
*.log

web-types.json
vscode.css-custom-data.json
vscode.html-custom-data.json
custom-elements.json
packages/f7-icon/includes.json
