node_modules
.idea
.turbo
.vercel
build

*.css
*.js
*.cjs
*.d.ts
*.map
*.tsbuildinfo
*.html
*.log

web-types.json
vscode.css-custom-data.json
vscode.html-custom-data.json
custom-elements.json

!prepare.cjs
