{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true
}
