.container {
  overflow-y: scroll;
  height: 20em;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
  min-height: 30em;
  background: #303030;
}

[slot="header"],
[slot="footer"] {
  background: #161616;
  padding: .5em 1em;
}