[data-theme="dark"],
[data-theme="light"] .theme-reverse {
  --bg-default: hsl(0 0% 18%);
  --bg-named: hsl(0 0% 8%);
}

[data-theme="light"],
[data-theme="dark"] .theme-reverse {
  --bg-default: hsl(0 0% 95%);
  --bg-named: hsl(0 0% 90%);
}

godown-layout main {
  height: 100%;
  display: grid;
  place-items: center;
  min-height: 30em;
  background: var(--bg-default);
}

godown-layout header,
godown-layout footer {
  background: var(--bg-named);
  padding: 0.5em 1em;
}
