[data-theme="dark"],
[data-theme="dark"] .theme-obverse,
[data-theme="light"] .theme-reverse
  color-scheme: dark
  color: #ffffff
  background: #000000
  ::selection
    color: hsl(30 100% 95%)
    background: hsl(180 96% 8%)

[data-theme="light"],
[data-theme="light"] .theme-obverse,
[data-theme="dark"] .theme-reverse
  color-scheme: light
  color: #000000
  background: #ffffff
  ::selection
    color hsl(225 100% 16%)
    background: hsl(350 100% 95%)