@import "./global.styl"

:root,
body
  min-height 100%
  height 100%
  font-size 16px
  padding 0 !important

#storybook-root:not([hidden]),
#root-inner
  display contents
  font-size 18px

#compare-target
  display none

[data-compare="true"] #compare-target
  display block

#compare-root
  width 100%
  height 100%
  display flex
  
  @media screen and (max-width 450px)
    flex-direction column

.compare-block
  flex 1
  padding 1em

[data-grid="true"]
  body,
  #storybook-docs .docs-story,
  #compare-root .compare-block
    background-size 100px 100px, 100px 100px, 20px 20px, 20px 20px
    background-position 20px 20px, 20px 20px, 20px 20px, 20px 20px
    background-blend-mode difference
    background-image linear-gradient(#82828280 1px, transparent 1px), linear-gradient(90deg, #82828280 1px, transparent 1px), linear-gradient(#82828240 1px, transparent 1px), linear-gradient(90deg, #82828240 1px, transparent 1px);

#storybook-docs
  p
    font-size 15px
  
  :is(h1, h2, h3, h4, h5, h6) a
    margin-left -24px
  
  table tbody
    button
      white-space nowrap
      cursor pointer

    span
      white-space nowrap

  a
    [data-theme="dark"] &
      color:hsl(210 100% 60%)
  
    [data-theme="light"] &
      color hsl(210 100% 50%)

.rejt-value-node:hover .rejt-value
  background none !important

.docblock-colorpalette
  > * > :first-child
    flex 0 8em

  div
    background none
    border none

iconify-icon
  font-size 1.25em